@use '../../sass/' as *;

.cart__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, 0.639);
    z-index: 99999;

    &.active {
        width: 100%;
    }
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: 999999;
    border-radius: 5px;
    overflow: hidden;

    &.active {
        width: 400px;
        transition: all 0.3s ease-out 0.2s;
    }
}

.cart__close {
    width: 100%;
    height: 60px;

    padding: 10px 20px;
}

.cart__close span {
    .cart__close-icon {
        font-size: 2rem;
        cursor: pointer;
    }
}

.cart__item-list {
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

.cart__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    width: 100%;
    height: 80px;
    background: $main-color;

    @include flex(space-between, center);
}

.cart__bottom h6 {
    font-size: 1rem;
    color: #fff;
}

.cart__bottom h6 span {
    font-size: 1.3rem;
    font-weight: 600;
}

.cart__bottom button {
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    background: #fff;
    color: #212245;
}

.cart__bottom button a {
    color: #212245;
    font-weight: 600;
}

@media only screen and (max-width: 576px) {
    .cart {
        width: 300px !important;
    }
}

.cart__item-info {
    @include flex(center, center);

    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 10px;
    }

    .cart__product-info {
        flex: 1;
        @include flex(space-between, center);

        .cart__product-title {
            font-size: 1rem;
            font-weight: 600;
        }

        .cart__product-price {
            font-size: 0.8rem;
            @include flex(center, center);
        }

        .cart__product-price span {
            font-size: 0.9rem;
            font-weight: 600;
            color: #df2020;
            margin-left: 2rem;
        }

    }
}

.increase__decrease-btn {
    background: #fde4e4;
    padding: 2px 5px;
    border-radius: 5px;
    @include flex(space-between, center);
}

.increase__btn,
.decrease__btn {
    cursor: pointer;
}

.delete__btn {
    font-size: 1.5rem;
    font-weight: 600;
}

.cart__item {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fde4e4;
}

@media only screen and (max-width: 576px) {
    .delete__btn {
        font-size: 1rem;
    }
}