@use './sass/' as *;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: $txt-main-color;
    line-height: 1.7;
}

a {
    color: $txt-main-color;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
        max-width: 720px;
    }

    @include mobile {
        max-width: 540px;
    }
}

section {
    h2 {
        margin: 60px 0 60px;
        font-size: 36px;
        text-align: center;

        @include small {
            font-size: 28px;
        }
    }
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    @include flex(center, center);
}

.pi-pic:hover .overlay {
    bottom: 0;
    height: 100%;
}

.overlay-button {
    background-color: #000;
    color: white;
    text-align: center;
    width: 80%;
    display: inline-block;
    background: transparent;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 7px 20px;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.btn {
    display: inline-block;
    border: 1px solid #333;
    font-size: 14px;
    font-weight: 600;
    min-width: 167px;
    padding: 18px 47px 14px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #000;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}